<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
  </head>

  <!-- Body -->
  {% assign is_bibliography_page = false %}
  {% if page.url contains '/bibliography/' %}
    {% assign is_bibliography_page = true %}
  {% endif %}
  <body class="{% if site.navbar_fixed and is_bibliography_page == false %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {% unless is_bibliography_page %}
      {%- include header.html %}
    {% endunless %}

    <!-- Content -->
    {% assign content_container_class = 'container mt-5' %}
    {% if page.url contains '/bibliography/' %}
      {% assign content_container_class = content_container_class | append: ' container-bibliography' %}
    {% endif %}
    <div class="{{ content_container_class }}">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% unless is_bibliography_page %}
      {% include scripts/progressBar.html %}
    {% endunless %}
  </body>
</html>
